.App {
  text-align: center;
}

.mangaList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.inputField {
  margin: 10px;
}

.mangaContent {
  margin: 10px;
}

.mangaComp {
  margin: 20px;
  border: 2px solid rgb(207, 206, 206);
  /* height: 700px; */
  width: 90vw;
  padding: 10px;
  border-radius: 10px;
  max-height: 700px;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}

.mangaName {
  display: flex;
  justify-content: space-between;
}

.mangaPoster {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.mangaContent {
  width: 80vw;
}

.mangaSummary {
  font-size: 18px;
}

.errorValidation {
  color: red;
}

.iconButton {
  color: gold;
}

.manga-rating {
  padding-top: 10px;
}

ul > li {
  list-style-type: none;
  text-align: left;
}

.manga-detail {
  margin: 20px;
}
.mangaDetail-info {
  display: flex;
  justify-content: space-between;
}

.manga-info > p {
  text-align: left;
}

.manga-action {
  display: flex;
}

ul > li {
  display: inline-block;
  margin: 30px;
  text-decoration: none;
}

.paper {
  min-height: 100vh;
  border-radius: 0px;
}
.BackButton {
  display: flex;
  justify-content: flex-start;
}
